body {
    background-color: rgb(51, 94, 106);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
}

.header_Title h1 {
    padding: 0 20px;
    text-shadow: -10px 12px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    color: white;
}

.header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.home_page {
    width: 60px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(32, 10, 8, 0.211);
}

.home_page:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 15, 15);
    padding: 5px 10px;
    border-radius: 10px;
}

.Categories_page {
    width: 90px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(32, 10, 8, 0.211);
}

.Categories_page:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 15, 15);
    padding: 5px 10px;
    border-radius: 10px;
}

.Best_Sellers_page {
    width: 120px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(32, 10, 8, 0.211);
}

.Best_Sellers_page:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 15, 15);
    padding: 5px 10px;
    border-radius: 10px;
}

.New_Arrive_page {
    width: 120px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(32, 10, 8, 0.211);
}

.New_Arrive_page:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 15, 15);
    padding: 5px 10px;
    border-radius: 10px;
}

.contact_page {
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: rgba(32, 10, 8, 0.211);
}

.contact_page:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 15, 15);
    padding: 5px 10px;
    border-radius: 10px;
}

.header_search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
}

.header_search_bar input {
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.header_search_bar button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
}

.body_content {
    justify-content: space-between;
}

.main_body {
    background-color: white;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 20px;
    min-height: 65.8vh;
    margin: 0px 20px 20px 20px;
    flex-direction: column;
}

.Browse_category{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(37, 34, 34, 0.186);
    border-radius: 20px;
    margin:0px 0px 20px 0px;
}

.Categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0px 0px 10px 0px;
}

.fiction{
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(81, 68, 135);

}

.fiction img{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.non-fiction{
    width: 100px;
    height: 100px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(81, 80, 80);

}

.non-fiction img{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.sci-fi{
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(16, 16, 158);

}

.sci-fi img{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.romance{
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(206, 45, 45);

}

.romance img{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.mystery{
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(238, 191, 35);

}

.mystery img{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.contact_us_body {
    background-color: white;
    margin: 0px 20px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.data_contact_us_title h1 {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
}

.link_contact_us_facebook {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 5px;
}

.link_contact_us_facebook img {
    width: 25px;
}

.link_contact_us_facebook a {
    text-decoration: none;
    color: blue;
}

.link_contact_us_instagram {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 5px;
}

.link_contact_us_instagram img {
    width: 25px;
}

.link_contact_us_instagram a {
    text-decoration: none;
    color: blue;
}

.link_contact_us_github {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 5px;
}

.link_contact_us_github img {
    width: 25px;
}

.link_contact_us_github a {
    text-decoration: none;
    color: blue;
}